@charset "UTF-8";

#wrap {
	width:1200px;
	
	margin:auto;
}


header{
	height:70px;
	background-color:#dddddd;/*f에 가까운 숫자*/
}

.contents{
	
}

.contents > .join-box{
	width:350px;

}
.contents > .login-box{
	width:350px;

}
.contents > .input-box {
	width:650px;
}

.contents > .list-box {
	width:900px;
}
.contents > .detail-box {
	width:650px;
}

footer {
	height:60px;
	background-color:#dddddd;
}